.transactions {
  min-height: 100vh;
  padding-top: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
  .transactions-data {
    margin: 2rem 0;
    max-width: 100vw;
    padding: 1rem;
    @media screen and (max-width: 640px) {
      padding: 0;
    }

    .header {
      margin: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        color: #000;
        font-weight: 800;
      }
    }

    .noTransactionRecords {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      p {
        background-color: #d4daed;
        padding: 3rem;
        border-radius: 10px;

        @media screen and (min-width: 748px) {
          padding: 3rem 9rem;
        }
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 2rem;

      thead,
      tr,
      th,
      td {
        padding: 0.8rem;
        border: 3px solid #eee;
        text-align: left;
        text-transform: capitalize;

        @media screen and (max-width: 640px) {
          padding: 5px;
          margin-top: 1rem;
        }
      }

      tr:nth-child(even) {
        background-color: #f3f3f2;
      }

      .action {
        display: flex;
        gap: 0.6rem;
        border: 0;
        div {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
