.report {
  min-height: 100vh;
  padding-top: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
      @media screen and (max-width: 640px) {
        margin-bottom: 1rem;
      }
    }
  }
  .data {
    margin: 2rem 0;
    max-width: 100vw;
    padding: 1rem;

    .header {
      margin: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        color: #000;
        font-weight: 800;
      }
    }

    .report-data {
      display: grid;
      grid-gap: 1rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;

      @media (max-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media (min-width: 640px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @media (min-width: 1024px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      .the-data {
        background-color: #fefeff;
        text-transform: capitalize;
        border-radius: 10px;
        text-align: center;
        padding: 2rem;
      }
    }
  }
}
