.header {
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: fixed;
  z-index: 10;

  .hero-header {
    width: 70%;
    display: flex;
    justify-content: space-between;

    .header-right {
      text-transform: capitalize;
      margin-top: 5px;

      h4 {
        color: #46566e !important;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
