.cashFlow {
  margin: 3rem 0;

  .heading {
    display: flex;
    gap: 5rem;
    text-align: center;
    align-items: baseline;
    flex-wrap: wrap;

    .period,
    .transaction-type {
      display: flex;
      text-align: center;
      align-items: baseline;
      gap: 1rem;
      color: var(--cont-color);
    }
  }
  .graph {
    height: 80%;
    width: 80%;
  }
}
