.sidebar {
  background-color: var(--light-blue);
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      margin: 2rem 0;
      color: #fff;
    }
  }
  .dash-list {
    ul {
      list-style: none;
      padding: 1rem;

      .navlink {
        text-decoration: none;
        color: inherit;
      }

      // .active {
      //   cursor: pointer;
      // }

      // .active::before {
      //   content: "";
      //   position: absolute;
      //   right: 0;
      //   top: 0;
      //   width: 4px;
      //   height: 100%;
      //   background-color: var(--white);
      // }

      li {
        display: flex;
        padding: 1rem;
        text-transform: capitalize;
        color: var(--white);
        font-family: var(--font-content);

        @media screen and (max-width: 768px) {
          font-family: var(--font-mobile);
          display: block;
          padding-left: 0;
          text-align: center;
        }

        p {
          margin-left: 15px;
          @media screen and (max-width: 768px) {
            margin-left: 1px;
          }
        }

        &:hover {
          background-color: var(--hover-light-blue);
          border-radius: 10px;
          cursor: pointer;
          @media screen and (max-width: 640px) {
            background-color: inherit;
            font-size: 17px;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
