/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
  breakpoints 
  
      sm

    @media screen and (max-width: 640px) {} 

        md 

    @media screen and (min-width: 768px) {}

        lg

    @media screen and (min-width: 1024px) {}
*/
:root {
  --light-blue: #4f72df;
  --hover-light-blue: #2751d4;
  --white: #fefeff;
  --font-header: "Montserrat", sans-serif;
  --font-content: "Open Sans", sans-serif;
  --font-mobile: "Roboto", sans-serif;
  --cont-color: #46566e;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #46566e;
  text-transform: capitalize;
}
h2 {
  color: #5a6e8d;
}
.btn {
  background-color: var(--light-blue);
  color: var(--white);
  justify-content: center;
  align-items: center;
  padding: 13px;
  border: none;
  border-radius: 5px;
  font-family: var(--font-content);
  @media screen and (max-width: 640px) {
    font-family: var(--font-mobile);
    padding: 9px;
    margin-top: 1rem;
  }
}
.btn:hover {
  background-color: var(--hover-light-blue);
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 15px;
  }
  .btn {
    padding: 7px;
  }
}
@media screen and (min-width: 640px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
}
