.admin {
  display: flex;
  position: relative;

  .hideSidebar {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      position: fixed;
    }
  }

  .sidebar {
    max-width: 12rem;
    position: fixed;

    @media screen and (max-width: 768px) {
      max-width: 6rem;
    }
  }

  .icon-hideSidebar {
    @media screen and (min-width: 768px) {
      display: none;
    }
    position: fixed;
    top: 80%;
    left: -3%;
    color: var(--white);
    background-color: var(--light-blue);
    padding: 0.5rem;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background-color: var(--hover-light-blue);
    }
  }

  .content {
    background-color: #f8f9fc;
    width: 100%;
    font-family: var(--font-content);
    @media screen and (max-width: 640px) {
      font-family: var(--font-mobile);
    }

    margin-left: 12rem;
    @media screen and (max-width: 768px) {
      margin-left: 6rem;
    }

    .routes {
      padding: 1rem;
      margin-top: 5rem;
    }
  }

  .fill-content {
    margin: 1rem;
    font-family: var(--font-content);
    @media screen and (max-width: 640px) {
      font-family: var(--font-mobile);
    }
    @media screen and (min-width: 768px) {
      margin-left: 12rem;
      width: 100%;
    }
  }
}
