.info-box {
  display: grid;
  grid-gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  @media (max-width: 640px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  border: 1px solid #ccc;
  background-color: var(--white);
  @media (max-width: 640px) {
    padding: 0.75rem;
  }
  @media (min-width: 640px) {
    padding: 1rem;
  }
  @media (min-width: 1024px) {
    padding: 1.5rem;
  }
}
.card1 {
  border-left: 3px solid var(--cont-color);
  color: var(--cont-color);
}

.card2 {
  border-left: 3px solid #1f93ff;
  color: #1f93ff;
}

.card3 {
  border-left: 3px solid #1dc88b;
  color: #1dc88b;
}
