.dashboard {
  min-height: 100vh;
  .info-box {
    display: grid;
    grid-gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    @media (max-width: 640px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @media (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .card {
    border: 1px solid #ccc;
    background-color: var(--white);
    @media (max-width: 640px) {
      padding: 0.75rem;
    }
    @media (min-width: 640px) {
      padding: 1rem;
    }
    @media (min-width: 1024px) {
      padding: 1.5rem;
    }
  }
  .card1 {
    border-left: 3px solid var(--cont-color);
    color: var(--cont-color);
  }

  .card2 {
    border-left: 3px solid #1f93ff;
    color: #1f93ff;
  }

  .card3 {
    border-left: 3px solid #1dc88b;
    color: #1dc88b;
  }

  .clients-list {
    margin-top: 2.5rem;

    .header {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      text-align: center;
      align-items: baseline;
      @media screen and (max-width: 640px) {
        gap: 0;
      }
    }

    .noTransactionRecord {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      p {
        background-color: #d4daed;
        padding: 3rem;
        font-size: 1.2rem;
        border-radius: 10px;

        @media screen and (min-width: 748px) {
          padding: 3rem 9rem;
        }
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;

      thead,
      tr,
      th,
      td {
        padding: 0.8rem;
        border: 2px solid #d4d4d4;
        text-align: left;
        text-transform: capitalize;
        text-align: center;

        @media screen and (max-width: 640px) {
          padding: 5px;
          margin-top: 1rem;
        }
      }

      tr:nth-child(even) {
        background-color: #f3f3f2;
      }
      .data:hover {
        background-color: #dbdbd7;
        cursor: pointer;
      }
    }
  }
}
